$orange : #DF691A;
$blue : #4e5d6c;
$green : #A2C563;
$hauteurTopMenu : 40px;


body{
  padding-top: $hauteurTopMenu;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  font-size: 14px;

}


h2{
  padding-bottom: 9px;
  border-bottom: solid 1px $blue;
  margin-bottom: 20px;
}



ul, li{
  margin-left: 7px;
  padding-left: 0px;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

li {
  text-indent: -.7em;
}

li:before {
  content: "• ";
  color: #DF691A;
  font-size: 20px;

}
.alert-danger {

  background-color: rgba(170, 57, 57,0.5);
  border: solid 1px #AA3939;
  border-radius: 2px;
  color: #333;

  li{
    padding-left: 10px;
    list-style: disc;
  }

  li:before {
    color: #fff;
    content: "";
  }



}

.alert-success2 {
  background-color: #5cb85c;
  border-color: transparent;
  color: #fff;
}


.alert-warning{
  background-color: rgba(162, 197, 99,0.4);
  border: solid 1px #A2C563;
  color: #333;

  h4{
    font-weight: bold;
    margin-bottom: 8px;
  }

  ul{
    margin-left: 15px;
    margin-bottom: 7px;
  }

  li{
    padding-left: 5px;
    list-style: disc;
    margin: 0px;
    height: 18px;
  }

  li:before {
    color: #fff;
    content: "";
  }

  .btn-primary{
    margin-top: 15px;
    background-color: #A2C563;
    font-weight: bold;

    &:hover{
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }
}

.myalertesbgc{

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 9999;

  .myalertes{
    background-color: #FFD4B0;
    border-top: solid 2px #bf5a16;
    border-bottom: solid 2px #bf5a16;
    color: #333;
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 15px 25px;
    left : 0;
    margin-top: -250px;
    top: 50%;
    z-index: 99;
    text-align: center;
    font-size: 18px;

    .a{
      color: #df691a;
      text-decoration: underline;
    }

    .txt{
      text-shadow: 0px 3px 10px rgba(150, 150, 150, 1);
    }

    .bullet{
      margin-top: 7px;
      margin-bottom: 7px;
      color: #df691a;
      font-size: 12px;

    }

    h3{
      text-decoration: underline;
      margin-bottom: 30px;
      font-weight: bold;
    }

    button{
      margin-top: 40px;
      margin-bottom: 20px;
    }

  }
}



.auth-login{

  .btn-primary{
    margin-bottom: 20px;
    margin-right: 15px;
  }
}

h1{
  margin-top: 0px;

}

.gestion{
  border-bottom: solid 1px $blue;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .actions{
    flex-grow: 1;
    text-align: right;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li{
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      text-indent: 0;
      position: relative;
      &:before{
        content: '';
        display: none;
      }


      ul{
        position: absolute;
        background-color: $blue;
        min-width: 100px;
        top: 40px;
        right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 5;
        display: none;

        li{
          display: block;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 2px;
          &:hover{
            background-color: #404D59;
            text-decoration: none;
          }
          a{
            color: white;
            width: 100%;
            text-align: left;
            display: block;
            margin: 0;
            font-size: 15px;
            white-space: nowrap;
            &:hover{
              text-decoration: none;
            }

            .fa{
              margin-right: 5px;
            }

            &.active{
              font-weight: bold;
            }

            &:focus{
              text-decoration: none;
            }
          }
        }
      }

    }

    a{
      margin-left: 10px;
    }

    span{
      display: inline-block;
      margin-left: 7px;
    }
  }
}

h1.bordered{
  color: $orange;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-top: solid 1px $orange;
  border-bottom: solid 1px $orange;
}

h2.bordered{
  color: $orange;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-bottom: solid 1px $orange;

  &.first{
    margin-top: 0;
    padding-top: 0;
  }
}
h2.bordered-blue{
  color: $blue;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-top: solid 1px $blue;
  border-bottom: solid 1px $blue;
}

.lead-orange{
  color: $orange;
  font-size: 30px;
  width: 100%;
  padding: 6px 10px;
  background: rgba(223, 106, 26, 0.4);
  border: solid 1px $orange;

}

.lead-green{
  color: #333;
  font-size: 30px;
  width: 100%;
  padding: 6px 10px 10px;
  background: rgba(162, 197, 99, 0.4);
  border: solid 1px $green;

}

a.green{
  color: $green;
  font-weight: bold;
}

/* --------------------
NAVBAR
---------------------- */

.navbar{
  ul, li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;

  }
  span{
    margin-left: 10px;
    margin-right: 5px;
  }
  li::before{
    content: "";
  }
  .dropdown-menu{

    margin-left: 5px;

    li{

      height: 40px;
      padding-left: 0px;


      a{
        width: 100%;
        height: 100%;
        display: block;
        padding-top: 10px;
      }

      &.divider{
        padding: 0px;
        margin: 0px;
        height: 1px;
      }

      span{
        margin-right: 10px;
      }
    }
  }

  b.notifs{
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
  }
}

/* --------------------
PANEL
---------------------- */

.panel-default{
  background-color: #fff;
  color: $blue;
  border: solid 1px $blue;

  .panel-heading{
    background-color: $blue;
  }
}

/*.panel-primary{

  background-color: #fff;
  border: solid 1px #ccc;

  .panel-heading{
    background: #ccc;
    color: #333;
  }
}*/



/* --------------------
FOOTER
---------------------- */

#page{
  min-height:100%;
  margin:0 auto;
  position:relative;
}

html, body {
  height: 100%;
}

#main {
  padding-bottom:80px; /* this needs to be bigger than footer height*/

  .row:nth-child(0){
    padding-top: 40px;
  }
  &.container{
    padding-top: 5px;
  }

  &.login{

    h1{
      border-bottom: solid 1px #4e5d6c;
      padding-bottom: 10px;
      margin-bottom: 30px;
      margin-top: 15px;
      color: $blue;
    }
  }
}


.footer {
  bottom: 0px;
  height: 40px;
  clear:both;
  padding-top:5px;
  width: 100%;
  background-color: $orange;
  color: #ffffff;
  position: absolute;
  z-index: 10;
  margin-top: -3em;
  text-align: center;
  font-size: 8px;


  & .big{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
}

/* --------------------
JUMBOTRON
---------------------- */


.jumbotron-light{
   margin-top: 0;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  overflow: auto;
  background-color: #fff;
  position: relative;

  .presentation{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;

    h1{
      font-size: 30px;
    }

    .lead{
      font-size: 18px;
    }
  }
 }

.jumbotron-left{

  background-color: #f6f5f5;

  img{
    width: 300px;
  }
  h1{
    font-size: 50px;
    margin: 0px;
    color: $blue;
  }
  ul{
    margin-top: 20px;
    padding-left: 30px;

    li{
      font-size: 20px;
      list-style-type: none;
      list-style-image : url("../img/arrow-little.png") ;
      background-repeat: no-repeat;
      background-position: -5px;
      margin-bottom: 6px;
      padding-left: 15px;
    }
    li:before {
      content: " ";
    }

  }
}

.camera_commands{
  display: none;
}

/* --------------------
HEADER JUMBO
---------------------- */

.headerJumbo{
  h1{
    color: #fff;
    padding-left: 10px;
  }
  .jumbotron{
    padding: 0;
    margin: 0;
  }
}


/* --------------------
HOME
---------------------- */

.home-welcome{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  color: $orange;
}

.home_desc{
  margin-bottom: 40px;
  ul{
    margin-top: 20px;
    padding-left: 30px;

    li{
      font-size: 20px;
      list-style-type: none;
      list-style-image : url("../img/arrow-little.png") ;
      background-repeat: no-repeat;
      padding-left: 15px;
      width: max-content;
      margin: auto auto 8px;
    }
    li:before {
      content: "";
    }
  }

  h1{
    margin-top: 20px;
    color: $orange;
  }
}

/* --------------------
SIDEBAR
---------------------- */

#form-connexion{
  .btn-primary{
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.form-horizontal .control-label{
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

.sidebar{
  h4{
    border-bottom: solid 1px $blue;
    padding: 0 0 4px 0px;
  }

  ul{
    margin-left: 6px;
    margin-bottom: 10px;
  }

  li{
    content: "";
    list-style: circle;

    a{
      color: #333;
      font-size: 18px;
      padding-left: 15px;
    }
  }
  li::before {
    color: $blue;
    content: "";
    font-size: 20px;
  }

  .btn-default{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;


  }
}

/* --------------------
BOUTON
---------------------- */

.btn{
  white-space: normal;

  span{
    margin-right: 10px;
  }
}

.input-group-btn .btn{
  white-space: nowrap;
}

.btn-file{
  background-color: $blue;
}
.btn-file:hover{
  background-color: #3d4954;
}

.glyphicon{
  margin-left: 10px;
}

a.delete{
  color: #ac2925;
}

.btn-yellow{
  background-color: #F6AF22;
  color: #333;

  &:hover{
    background-color: #FFC44D;
    color: #333;
  }
}

a.btn-yellow{
  color: #333;
}

.btn-green{
  background: #A2C563;
  color: #fff;
}

.btn-default:hover{
  background-color: #404D59;

}

.accroche-yellow{
  background-color: #F6AF22;
  color: #333;
}

/* --------------------
TABLE
---------------------- */

table{

  td:first-child{
    font-weight: bold;
  }
}


table.amis{

  border: none;

  thead tr{
    height: 60px;
    font-size: 14px;
    color: $orange;

    th{
      vertical-align: middle;
    }
  }

  tbody td{
    height: 50px;
    vertical-align: middle;
  }

  tbody td:first-child{
    padding-left: 5px;
  }
  
  tbody tr:hover{
    background-color: rgba(228, 227, 227, 0.4);
  }

  a.btn{
    color: #fff;
    height: 30px;
    margin: 0;
    padding: 4px 10px 4px 10px;
    margin-right: 5px;
  }
}

/* --------------------
ALBUM PHOTOS
---------------------- */

.album-photos-h2{
  height: 57px;
  div{
    float: right;
    display: inline-block;
  }
}

a.thumbnail{
  width: 200px;
  text-align: center;
  &:hover{
    color: #fff;
    text-decoration: none;

  }

  h4{
    min-height: 40px;
  }
}

.albums-item-thumbs{
  min-height: 190px;
  background-color:#fff;
}

/* --------------------
GRID
---------------------- */

.grid{
  display: none;
}

.grid-item {
  float: left;
  background: #fff;
  border: 1px solid #4e5d6c;
  margin:2px;
  padding: 3px;
  opacity: 0.8;

  &:hover{
    opacity: 1;
  }
  img{
    width: 175.5px;
  }
}

/* --------------------
Nano gallery
---------------------- */

/*#nanoGallery3 {

  opacity: 0.8;

  .labelImage {
    display: none;
  }

  .nanoGalleryThumbnailContainer {
    opacity: 0.8;

    &:hover {
      opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.2);
    }
    img:hover {
      opacity: 0.8;
    }
  }
}*/


  /* --------------------
  AutoComplete
  ---------------------- */

.form-search{

  .form-group{
    margin-bottom: 0px;
  }

  .liste-participants-resultats{
    width: 100%;
    border-left:solid 1px $blue;
    border-right:solid 1px $blue;

    overflow: hidden;
    height: auto;
  }

  .btn-default{
    margin-top: 15px;
  }
}

#ui-id-1.ui-autocomplete {

  background-color: #ebebeb;



  li{
    list-style: none;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-left: 0px;

    &::before{
      content : ''
    }
    &:hover{
      background-color: $blue;
      color:#fff;
    }
  }

}


/* --------------------
pictures
 ---------------------- */

.cadre-photo {

  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-content: center;

  div, a{
    display: inline-block;
  }

  .left, .right{
    padding: 8px;
    height: 100%;
  }
  .left{
    padding-right: 12px;
  }
  .right{
    padding-left: 12px;
  }

  .center{
    flex: 1;
  }

  img{
    max-width: 100%;
  }

  a{
    color: #333;
    &:hover{
      font-weight: bold;
      color: $orange;
    }
  }

}

.pictures{
  .left-border{

    .btn .fa{
      margin-right: 15px;
    }

    label{
      font-weight: bold;
      font-size: 14px;

    }

    select{
      border-radius: 5px;
    }
    .row .btn{
      margin-top: 25px;
    }
    .text-left .fa{
      margin-right: 10px;
      margin-left: 0px;

    }

    .form-search{
      margin-bottom: 50px;
    }
    .text-right .fa{
      margin-left: 10px;
      margin-right: 0px;
    }
  }

  .col-md-8{

  }
}

.file-footer-buttons .btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  .glyphicon{
    margin-left: 0px;

  }
}

.move-image{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;

  .cadre{
    width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -300px;
    margin-left: -300px;
    border:  solid 2px $orange;
    background-color: #D5D1D1;
    padding: 15px 30px;
    min-height: 280px;


    .close{
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      margin-right: -12px;
      margin-top: -12px;

      img{
        opacity: 1.0;
      }
    }

    .load-deplacement-img{
      text-align: center;
      padding-top: 60px;
    }

    .deplacement-ok{
    }

    h4{
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
}

// diaporama

.diaporama-thumb-info{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  height: 30px;
  margin-top: -30px;
  padding: 4px 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;

  a{
    color: #ffffff;
    font-size: 15px;
    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.nanoGalleryThumbnailContainer:hover{
  .diaporama-thumb-info{
    visibility: visible;
    opacity: 1;
  }
}


.videoorpictures{
  border: solid 1px #333;
  background-color: #EDDDBD;
  margin-top: 20px;
  margin-bottom: 30px;

  .col-md-6{
    padding-top:20px;
    padding-bottom:20px;
  }

  .col-md-6:first-child{
    border-right:solid 1px #333;
  }
}

.patienterzip{
  display: none;
  text-align: center;
  width: 100%;
  height: 80px;
  margin-top: 15px;
  border: dashed 1px #ccc;
  padding: 15px;

  .zipgeneration, .zipgenerated{
    display: none;
    a{
      margin-top: 5px;
    }
  }
}

/* --------------------
recherche
 ---------------------- */

#recherche{

  .btn-primary{
    margin-top: 15px;
    width: auto;
    border-radius: 5px;

    &:hover{
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }
  }

  .erreur_search{
    display: none;
    margin-top: 5px;
    color: #B33E29;
    font-weight: bold;
  }
}

.search-form{

  label{
    font-weight: bold;
  }

  .bootstrap-select{

    width: 100%;


      li::before{
        content: '';
      }

    .dropdown-toggle{
      width: 100%;
    }

  }
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.personnes_selection{
  display: none;
}

.form-search{
  li::before{
    content: '';
  }
}

.jg-entry{
  margin: 2px;
  position: relative;
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;


  img {
    width: 191px;
    height: 191px;
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
  }

  &:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
  }

  .bgc{
    position: absolute;
    width: 191px;
    height: 191px;
    top: 0px;
    left: 0px;


    &:hover{
      background-color: rgba(0, 0, 0, 0.6);
      background-position: center;
      background-size: 40px;
      background-repeat: no-repeat;

      .bgd{
        opacity: 1;
      }
    }

    .bgd{
      width: 191px;
      position: absolute;
      height: 40px;
      bottom: 0px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: #ffffff;
      padding-top: 10px;
      font-size: 15px;
      opacity: 0;
      -webkit-transition: all 0.50s ease; /* Safari and Chrome */
      -moz-transition: all 0.50s ease; /* Firefox */
      -ms-transition: all 0.50s ease; /* IE 9 */
      -o-transition: all 0.50s ease; /* Opera */
      transition: all 0.50s ease;


    }

    .desc{
      display: none;
    }


  }
}

.search-checkbox{
  display: none;

  .checkbox label{
    display: none;
  }
}

.search_aucun_resultat{
  text-align: center;
  margin-top: 100px;
  font-size: 18px;
}

.bs-select-all,.bs-deselect-all{
  border-color: #333;
  background-color: #8E979F;
}

.bs-select-all:hover,.bs-deselect-all:hover{
  border-color: #333;
  background-color: #697683;
}


.bs-searchbox input{
  border-color: #333;
  background-color: #8E979F;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover, .bootstrap-select.btn-group .dropdown-menu li.active a{
  text-decoration: none;
  color: #ebebeb;
  background-color: #485563;
}


/* --------------------
Loading gif
 ---------------------- */

.waiting-loader{
  height: 350px;
  width: 100%;
  text-align: center;
  left: 0;

  .waiting-loader-children{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
  }
}


.body_lightbox_loading{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;

  .cube_loading{
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -60px;
    margin-left: -60px;
  }
}


.uil-cube-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}

@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.uil-cube-css > div {
  position: absolute;
  width: 80px;
  height: 80px;
  -ms-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -moz-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -webkit-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -o-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
}
.uil-cube-css > div:nth-of-type(1) {
  top: 10px;
  left: 10px;
  background: #bf5a16;
  opacity: 0.9;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.uil-cube-css > div:nth-of-type(2) {
  top: 10px;
  left: 110px;
  background: #bf5a16;
  opacity: 0.8;
  -ms-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.uil-cube-css > div:nth-of-type(3) {
  top: 110px;
  left: 10px;
  background: #bf5a16;
  opacity: 0.7;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.uil-cube-css > div:nth-of-type(4) {
  top: 110px;
  left: 110px;
  background: #bf5a16;
  opacity: 0.6;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}



.body-lightbox-delete{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;

  .supprimer-img, .supprimer-album, .supprimer-album-photos{
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -225px;
    width: 450px;
    height: 260px;
    background-color: #fff;
    border-radius: 7px;
    border: solid 2px #bf5a16;
    padding: 30px 40px 20px 40px;
    font-size: 16px;
    text-align: center;
    display: none;

    i{
      position: absolute;
      right: 0;
      top: 0;
      font-size: 25px;
      margin-right: 2px;
      margin-top: 2px;
      color: #bf5a16;
      cursor: pointer;
    }
  }
}



/* --------------------
Participant
 ---------------------- */




.ajout-participant{
  padding: 10px 20px;
  border: solid 1px #575757;
  background-color: rgba(228, 227, 227, 0.4);margin-bottom: 30px;
}

.table-participants{

  margin-top: 10px;

  thead tr{
    background-color: #d9edf7;
    font-weight: bold;
    height: 20px;
  }


  td{
    border: solid 1px #D8D8D8 !important;

    a.delete{
      color: #ac2925 !important;
      text-decoration: none;
      .glyphicon{
        margin-left: 0px;
      }
      margin-bottom: 12px;
    }
    a.fictif{
      color: #2C446D;
      text-decoration: none;

    }

    a.privilege{
      color: #7F2A68;
      text-decoration: none;
      margin-left: 10px;
      display: inline-block;
    }
  }

}


/* --------------------
Informations
 ---------------------- */

.informations{


  .presentation{

    img{
      margin-bottom: 15px;
    }

    .col-md-4{
      text-align: center;
    }

    p{
      font-size: 16px;
    }
    p.lead{
      margin-bottom: 21px;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.4;
      color: $green;
      height: 80px;
    }

    .step{
      padding: 15px;
      border: solid 1px $green;
      overflow: hidden;
      height: 460px;

    }

    .image{
      height: 200px;
    }

  }

  h1{
    border-bottom:dashed 1px $blue;
    padding-bottom: 10px;


    &.lead-green{
      border-bottom: solid 1px $green;
      margin-bottom: 40px;
    }
  }

  h3{
    margin-bottom: 15px;
    color: $green;
  }

  .avantages{
    margin-bottom: 40px;
    padding: 25px;
    border: solid 1px $green;

    .btn-green{
      width: 250px;
      margin: auto;
      color: #333;
      font-weight: bold;

      &:hover{
        background-color: #799E35;
      }
    }
  }

  .lead-green{
    margin-bottom: 0px;
    border-bottom: 0px;
  }
  li:before {
    color: $green;
  }

  &.home_connected{
    .img-responsive{
      margin: auto;
    }
    .avantages{
      text-align: center;
    }

    .avantages-blue{

      .avantages{
        border: solid 1px $blue;

        p{
          display: block;
          min-height: 60px;
        }
      }


      .lead-green{
        background-color: $blue;
        color: #fff;
        border: solid 1px $blue;
        display: block;
      }

      .btn{
      }
    }
  }
}

.camera_fakehover{
  display: none;
}





/* --------------------
waiting photos
 ---------------------- */

.options-waiting-photos{

  .gerer-photos-waiting{
    width: 100%;
    background-color: rgba(191, 90, 22, 0.4);
    border:solid 1px #BF5A16;
    color: #333;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 8px;


    .btn-primary{
      margin-top: -8px;
      height: 40px;
      float: right;
      margin-right: 10px;

      span{
        margin: 0;
      }
    }

    #cancel_select, #cancel_select2{
      float: left;
    }

    .txt3-1{
      float: right;
    }

    .txt3-2{
      float: right;
      margin-right: 15px;
      margin-top: -7px
    }

    .btn{
      margin-top: 7px;
    }

    .confirm-group{
      display: flex;
      align-items: center;

      .spinner{
        margin-left: 10px;
        display: none;
      }
    }
  }
}


/* --------------------
Notifications
 ---------------------- */


.notification{

  border: solid 1px #8E979F;
  background-color: rgba(228, 227, 227, 0.4);margin-bottom: 30px;
  position: relative;

  .btn-default{
    background-color: #8E979F;
  }

  .cadre{
    padding: 15px 20px;
  }

  h4{
    width: 100%;
    padding: 10px 20px;
    background-color: #8E979F;
    color: #fff;
    margin-top: 0;
  }

  .time{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
    font-style: italic;
    padding-right: 7px;
    padding-bottom: 2px;
  }

  &.new {

    border: solid 1px #575757;

    .btn-default{
      background-color: #404D59;
    }

    h4{
      width: 100%;
      padding: 10px 20px;
      border-bottom: solid 1px #575757;
      background-color: #4E5D6C;
      color: #fff;
      margin-top: 0;
    }

  }
}

#page .showonphone{
  display: none;
}

ul.arianne{
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  font-size: 14px;
  width: 100%;

  li{
    display: inline-block;
    text-indent: 0;
    margin: 0;
    padding: 0;
    color: $orange;

    &::before{
      content: '>';
      font-size: 15px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &:last-child a, &:last-child span{
      font-weight: bold;
    }
    &:last-child a:hover{
      text-decoration: underline;
    }

    &:first-child::before{
      content: '';
      font-size: 15px;
      margin: 0;
    }


  }
}

.dropdown-toggle{
  white-space: nowrap;
}

.table-striped > tbody > tr:nth-of-type(odd){
  background-color: #efefef;
}

.user-list {

  li{
    a{
      color: #333;
      &:hover{
        color: $orange;
      }
    }
  }
  .fa-user-plus{
    margin-left: 15px;
  }


}

.create-album{
  font-size: 25px;
  margin-top: 15px;
  display: inline-block;
  &:hover{
    text-decoration: underline;
  }
}

#picture_change_data_loading{
  height: 50px;
  text-align: center;
  color: $orange;
  font-size: 14px;
  padding-top: 20px;
  .fa{
    margin-right: 8px;
  }

  div{
    display: none;
  }
}