@charset "UTF-8";
body {
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

ul, li {
  margin-left: 7px;
  padding-left: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-indent: -.7em;
}

li:before {
  content: "• ";
  color: #DF691A;
  font-size: 20px;
}

.alert-danger li:before {
  color: #fff;
}

.auth-login {
  margin-top: 15px;
}

.auth-login .btn-primary {
  margin-bottom: 20px;
  margin-right: 15px;
}

h1 {
  margin-top: 0px;
}

/* --------------------
NAVBAR
---------------------- */
.navbar ul, .navbar li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

.navbar span {
  margin-left: 10px;
  margin-right: 5px;
}

.navbar li::before {
  content: "";
}

.navbar .dropdown-menu {
  margin-left: 5px;
}

.navbar .dropdown-menu li {
  height: 40px;
  padding-left: 0px;
}

.navbar .dropdown-menu li a {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 10px;
}

.navbar .dropdown-menu li.divider {
  padding: 0px;
  margin: 0px;
  height: 1px;
}

.navbar .dropdown-menu li span {
  margin-right: 10px;
}

/* --------------------
PANEL
---------------------- */
.panel-default {
  background-color: #fff;
  color: #4e5d6c;
  border: solid 1px #4e5d6c;
}

.panel-default .panel-heading {
  background-color: #4e5d6c;
}

/*.panel-primary{

  background-color: #fff;
  border: solid 1px #ccc;

  .panel-heading{
    background: #ccc;
    color: #333;
  }
}*/
/* --------------------
FOOTER
---------------------- */
html, body {
  height: 100%;
}

#main {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 30px;
  /* this needs to be bigger than footer height*/
}

#main .row:nth-child(0) {
  padding-top: 40px;
}

.footer {
  position: absolute;
  height: 60px;
  clear: both;
  padding-top: 20px;
  width: 100%;
  background-color: #515050;
  margin-top: -60px;
  color: #ffffff;
}

.footer .big {
  font-weight: bold;
  text-transform: uppercase;
}

/* --------------------
JUMBOTRON
---------------------- */
.jumbotron-light {
  margin-top: 15px;
  background-color: #f6f5f5;
}

.jumbotron-left {
  background-color: #f6f5f5;
}

.jumbotron-left img {
  width: 300px;
}

.jumbotron-left h1 {
  font-size: 50px;
  margin: 0px;
  color: #4e5d6c;
}

.jumbotron-left ul {
  margin-top: 20px;
  padding-left: 30px;
}

.jumbotron-left ul li {
  font-size: 20px;
  list-style-type: none;
  list-style-image: url("../img/arrow-little.png");
  background-repeat: no-repeat;
  background-position: -5px;
  margin-bottom: 6px;
  padding-left: 15px;
}

.jumbotron-left ul li:before {
  content: "";
}

/* --------------------
HEADER JUMBO
---------------------- */
.headerJumbo img {
  width: 350px;
}

.headerJumbo h1 {
  margin: 0px;
  color: #4e5d6c;
}

.headerJumbo .jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headerJumbo ul {
  margin-top: 20px;
  padding-left: 30px;
}

.headerJumbo ul li {
  font-size: 20px;
  list-style-type: none;
  list-style-image: url("../img/arrow-little.png");
  background-repeat: no-repeat;
  margin-bottom: 6px;
  padding-left: 15px;
}

.headerJumbo ul li:before {
  content: "";
}

/* --------------------
SIDEBAR
---------------------- */
#form-connexion .btn-primary {
  margin-bottom: 10px;
  margin-right: 20px;
}

.form-horizontal .control-label {
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}

.sidebar h4 {
  border-bottom: solid 1px #4e5d6c;
  padding: 0 0 4px 0px;
}

.sidebar ul {
  margin-left: 6px;
  margin-bottom: 10px;
}

.sidebar li {
  content: "";
  list-style: circle;
}

.sidebar li a {
  color: #333;
  font-size: 18px;
  padding-left: 15px;
}

.sidebar li::before {
  color: #4e5d6c;
  content: "";
  font-size: 20px;
}

.sidebar .btn-default {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

/* --------------------
BOUTON
---------------------- */
.btn span {
  margin-right: 10px;
}
