$orange : #DF691A;
$blue : #4e5d6c;
$hauteurTopMenu : 40px;


body{
  padding-top: $hauteurTopMenu;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


ul, li{
  margin-left: 7px;
  padding-left: 0px;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
}

li {
  text-indent: -.7em;
}

li:before {
  content: "• ";
  color: #DF691A;
  font-size: 20px;

}
.alert-danger li:before{
  color: #fff;
}


.auth-login{

  margin-top: 15px;

  .btn-primary{
    margin-bottom: 20px;
    margin-right: 15px;
  }
}

/* --------------------
NAVBAR
---------------------- */

.navbar{
  ul, li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;

  }
  span{
    margin-left: 10px;
    margin-right: 5px;
  }
  li::before{
    content: "";
  }
  .dropdown-menu{

    margin-left: 5px;

    li{

      height: 40px;
      padding-left: 0px;


      a{
        width: 100%;
        height: 100%;
        display: block;
        padding-top: 10px;
      }

      &.divider{
        padding: 0px;
        margin: 0px;
        height: 1px;
      }

      span{
        margin-right: 10px;
      }
    }
  }
}

/* --------------------
PANEL
---------------------- */

.panel-default{
  background-color: #fff;
  color: $blue;
  border: solid 1px $blue;
  
  .panel-heading{
    background-color: $blue;
  }
}


/* --------------------
SIDEBAR
---------------------- */

.sidebar{
  margin-top: 40px;

}

/* --------------------
FOOTER
---------------------- */



html, body {
  height: 100%;
}

#main {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:30px; /* this needs to be bigger than footer height*/
}

.footer {
  position: absolute;
  height: 60px;
  clear:both;
  padding-top:20px;
  width: 100%;
  background-color: #515050;
  margin-top: -60px;
  color: #ffffff;

  & .big{
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* --------------------
JUMBOTRON
---------------------- */

.jumbotron-light{
   margin-top: 15px;
   background-color: #f6f5f5;
 }

.jumbotron-left{

  background-color: #f6f5f5;

  img{
    width: 300px;
  }
  h1{
    font-size: 50px;
    margin: 0px;
    color: $blue;
  }
  ul{
    margin-top: 20px;
    padding-left: 30px;

    li{
      font-size: 20px;
      list-style-type: none;
      list-style-image : url("../img/arrow-little.png") ;
      background-repeat: no-repeat;
      background-position: -5px;
      margin-bottom: 6px;
      padding-left: 15px;
    }
    li:before {
      content: "";
    }

  }
}

/* --------------------
HEADER JUMBO
---------------------- */

.headerJumbo{
  img{
    width: 350px;
  }
  h1{
    margin: 0px;
    color: $blue;
  }
  .jumbotron{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  ul{
    margin-top: 20px;
    padding-left: 30px;
    
    li{
      font-size: 20px;
      list-style-type: none;
      list-style-image : url("../img/arrow-little.png") ;
      background-repeat: no-repeat;
      margin-bottom: 6px;
      padding-left: 15px;
    }
    li:before {
      content: "";
    }
  }
}

/* --------------------
SIDEBAR
---------------------- */

#form-connexion{
  .btn-primary{
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.form-horizontal .control-label{
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left;
}



