@charset "UTF-8";
body {
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 14px; }

h2 {
  padding-bottom: 9px;
  border-bottom: solid 1px #4e5d6c;
  margin-bottom: 20px; }

ul, li {
  margin-left: 7px;
  padding-left: 0px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  text-indent: -.7em; }

li:before {
  content: "• ";
  color: #DF691A;
  font-size: 20px; }

.alert-danger {
  background-color: rgba(170, 57, 57, 0.5);
  border: solid 1px #AA3939;
  border-radius: 2px;
  color: #333; }
  .alert-danger li {
    padding-left: 10px;
    list-style: disc; }
  .alert-danger li:before {
    color: #fff;
    content: ""; }

.alert-success2 {
  background-color: #5cb85c;
  border-color: transparent;
  color: #fff; }

.alert-warning {
  background-color: rgba(162, 197, 99, 0.4);
  border: solid 1px #A2C563;
  color: #333; }
  .alert-warning h4 {
    font-weight: bold;
    margin-bottom: 8px; }
  .alert-warning ul {
    margin-left: 15px;
    margin-bottom: 7px; }
  .alert-warning li {
    padding-left: 5px;
    list-style: disc;
    margin: 0px;
    height: 18px; }
  .alert-warning li:before {
    color: #fff;
    content: ""; }
  .alert-warning .btn-primary {
    margin-top: 15px;
    background-color: #A2C563;
    font-weight: bold; }
    .alert-warning .btn-primary:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); }

.myalertesbgc {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 9999; }
  .myalertesbgc .myalertes {
    background-color: #FFD4B0;
    border-top: solid 2px #bf5a16;
    border-bottom: solid 2px #bf5a16;
    color: #333;
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 15px 25px;
    left: 0;
    margin-top: -250px;
    top: 50%;
    z-index: 99;
    text-align: center;
    font-size: 18px; }
    .myalertesbgc .myalertes .a {
      color: #df691a;
      text-decoration: underline; }
    .myalertesbgc .myalertes .txt {
      text-shadow: 0px 3px 10px #969696; }
    .myalertesbgc .myalertes .bullet {
      margin-top: 7px;
      margin-bottom: 7px;
      color: #df691a;
      font-size: 12px; }
    .myalertesbgc .myalertes h3 {
      text-decoration: underline;
      margin-bottom: 30px;
      font-weight: bold; }
    .myalertesbgc .myalertes button {
      margin-top: 40px;
      margin-bottom: 20px; }

.auth-login .btn-primary {
  margin-bottom: 20px;
  margin-right: 15px; }

h1 {
  margin-top: 0px; }

.gestion {
  border-bottom: solid 1px #4e5d6c;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .gestion .actions {
    flex-grow: 1;
    text-align: right; }
    .gestion .actions ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .gestion .actions li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      text-indent: 0;
      position: relative; }
      .gestion .actions li:before {
        content: '';
        display: none; }
      .gestion .actions li ul {
        position: absolute;
        background-color: #4e5d6c;
        min-width: 100px;
        top: 40px;
        right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 5;
        display: none; }
        .gestion .actions li ul li {
          display: block;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 2px; }
          .gestion .actions li ul li:hover {
            background-color: #404D59;
            text-decoration: none; }
          .gestion .actions li ul li a {
            color: white;
            width: 100%;
            text-align: left;
            display: block;
            margin: 0;
            font-size: 15px;
            white-space: nowrap; }
            .gestion .actions li ul li a:hover {
              text-decoration: none; }
            .gestion .actions li ul li a .fa {
              margin-right: 5px; }
            .gestion .actions li ul li a.active {
              font-weight: bold; }
            .gestion .actions li ul li a:focus {
              text-decoration: none; }
    .gestion .actions a {
      margin-left: 10px; }
    .gestion .actions span {
      display: inline-block;
      margin-left: 7px; }

h1.bordered {
  color: #DF691A;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-top: solid 1px #DF691A;
  border-bottom: solid 1px #DF691A; }

h2.bordered {
  color: #DF691A;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-bottom: solid 1px #DF691A; }
  h2.bordered.first {
    margin-top: 0;
    padding-top: 0; }

h2.bordered-blue {
  color: #4e5d6c;
  margin: 10px 0 20px 0;
  padding: 5px 0 5px 0;
  border-top: solid 1px #4e5d6c;
  border-bottom: solid 1px #4e5d6c; }

.lead-orange {
  color: #DF691A;
  font-size: 30px;
  width: 100%;
  padding: 6px 10px;
  background: rgba(223, 106, 26, 0.4);
  border: solid 1px #DF691A; }

.lead-green {
  color: #333;
  font-size: 30px;
  width: 100%;
  padding: 6px 10px 10px;
  background: rgba(162, 197, 99, 0.4);
  border: solid 1px #A2C563; }

a.green {
  color: #A2C563;
  font-weight: bold; }

/* --------------------
NAVBAR
---------------------- */
.navbar ul, .navbar li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 5px; }
.navbar span {
  margin-left: 10px;
  margin-right: 5px; }
.navbar li::before {
  content: ""; }
.navbar .dropdown-menu {
  margin-left: 5px; }
  .navbar .dropdown-menu li {
    height: 40px;
    padding-left: 0px; }
    .navbar .dropdown-menu li a {
      width: 100%;
      height: 100%;
      display: block;
      padding-top: 10px; }
    .navbar .dropdown-menu li.divider {
      padding: 0px;
      margin: 0px;
      height: 1px; }
    .navbar .dropdown-menu li span {
      margin-right: 10px; }
.navbar b.notifs {
  font-weight: bold;
  color: #fff;
  text-decoration: underline; }

/* --------------------
PANEL
---------------------- */
.panel-default {
  background-color: #fff;
  color: #4e5d6c;
  border: solid 1px #4e5d6c; }
  .panel-default .panel-heading {
    background-color: #4e5d6c; }

/*.panel-primary{

  background-color: #fff;
  border: solid 1px #ccc;

  .panel-heading{
    background: #ccc;
    color: #333;
  }
}*/
/* --------------------
FOOTER
---------------------- */
#page {
  min-height: 100%;
  margin: 0 auto;
  position: relative; }

html, body {
  height: 100%; }

#main {
  padding-bottom: 80px;
  /* this needs to be bigger than footer height*/ }
  #main .row:nth-child(0) {
    padding-top: 40px; }
  #main.container {
    padding-top: 5px; }
  #main.login h1 {
    border-bottom: solid 1px #4e5d6c;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
    color: #4e5d6c; }

.footer {
  bottom: 0px;
  height: 40px;
  clear: both;
  padding-top: 5px;
  width: 100%;
  background-color: #DF691A;
  color: #ffffff;
  position: absolute;
  z-index: 10;
  margin-top: -3em;
  text-align: center;
  font-size: 8px; }
  .footer .big {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px; }

/* --------------------
JUMBOTRON
---------------------- */
.jumbotron-light {
  margin-top: 0;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  overflow: auto;
  background-color: #fff;
  position: relative; }
  .jumbotron-light .presentation {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0; }
    .jumbotron-light .presentation h1 {
      font-size: 30px; }
    .jumbotron-light .presentation .lead {
      font-size: 18px; }

.jumbotron-left {
  background-color: #f6f5f5; }
  .jumbotron-left img {
    width: 300px; }
  .jumbotron-left h1 {
    font-size: 50px;
    margin: 0px;
    color: #4e5d6c; }
  .jumbotron-left ul {
    margin-top: 20px;
    padding-left: 30px; }
    .jumbotron-left ul li {
      font-size: 20px;
      list-style-type: none;
      list-style-image: url("../img/arrow-little.png");
      background-repeat: no-repeat;
      background-position: -5px;
      margin-bottom: 6px;
      padding-left: 15px; }
    .jumbotron-left ul li:before {
      content: " "; }

.camera_commands {
  display: none; }

/* --------------------
HEADER JUMBO
---------------------- */
.headerJumbo h1 {
  color: #fff;
  padding-left: 10px; }
.headerJumbo .jumbotron {
  padding: 0;
  margin: 0; }

/* --------------------
HOME
---------------------- */
.home-welcome {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  color: #DF691A; }

.home_desc {
  margin-bottom: 40px; }
  .home_desc ul {
    margin-top: 20px;
    padding-left: 30px; }
    .home_desc ul li {
      font-size: 20px;
      list-style-type: none;
      list-style-image: url("../img/arrow-little.png");
      background-repeat: no-repeat;
      padding-left: 15px;
      width: max-content;
      margin: auto auto 8px; }
    .home_desc ul li:before {
      content: ""; }
  .home_desc h1 {
    margin-top: 20px;
    color: #DF691A; }

/* --------------------
SIDEBAR
---------------------- */
#form-connexion .btn-primary {
  margin-bottom: 10px;
  margin-right: 20px; }

.form-horizontal .control-label {
  margin-bottom: 5px;
  font-size: 14px;
  text-align: left; }

.sidebar h4 {
  border-bottom: solid 1px #4e5d6c;
  padding: 0 0 4px 0px; }
.sidebar ul {
  margin-left: 6px;
  margin-bottom: 10px; }
.sidebar li {
  content: "";
  list-style: circle; }
  .sidebar li a {
    color: #333;
    font-size: 18px;
    padding-left: 15px; }
.sidebar li::before {
  color: #4e5d6c;
  content: "";
  font-size: 20px; }
.sidebar .btn-default {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px; }

/* --------------------
BOUTON
---------------------- */
.btn {
  white-space: normal; }
  .btn span {
    margin-right: 10px; }

.input-group-btn .btn {
  white-space: nowrap; }

.btn-file {
  background-color: #4e5d6c; }

.btn-file:hover {
  background-color: #3d4954; }

.glyphicon {
  margin-left: 10px; }

a.delete {
  color: #ac2925; }

.btn-yellow {
  background-color: #F6AF22;
  color: #333; }
  .btn-yellow:hover {
    background-color: #FFC44D;
    color: #333; }

a.btn-yellow {
  color: #333; }

.btn-green {
  background: #A2C563;
  color: #fff; }

.btn-default:hover {
  background-color: #404D59; }

.accroche-yellow {
  background-color: #F6AF22;
  color: #333; }

/* --------------------
TABLE
---------------------- */
table td:first-child {
  font-weight: bold; }

table.amis {
  border: none; }
  table.amis thead tr {
    height: 60px;
    font-size: 14px;
    color: #DF691A; }
    table.amis thead tr th {
      vertical-align: middle; }
  table.amis tbody td {
    height: 50px;
    vertical-align: middle; }
  table.amis tbody td:first-child {
    padding-left: 5px; }
  table.amis tbody tr:hover {
    background-color: rgba(228, 227, 227, 0.4); }
  table.amis a.btn {
    color: #fff;
    height: 30px;
    margin: 0;
    padding: 4px 10px 4px 10px;
    margin-right: 5px; }

/* --------------------
ALBUM PHOTOS
---------------------- */
.album-photos-h2 {
  height: 57px; }
  .album-photos-h2 div {
    float: right;
    display: inline-block; }

a.thumbnail {
  width: 200px;
  text-align: center; }
  a.thumbnail:hover {
    color: #fff;
    text-decoration: none; }
  a.thumbnail h4 {
    min-height: 40px; }

.albums-item-thumbs {
  min-height: 190px;
  background-color: #fff; }

/* --------------------
GRID
---------------------- */
.grid {
  display: none; }

.grid-item {
  float: left;
  background: #fff;
  border: 1px solid #4e5d6c;
  margin: 2px;
  padding: 3px;
  opacity: 0.8; }
  .grid-item:hover {
    opacity: 1; }
  .grid-item img {
    width: 175.5px; }

/* --------------------
Nano gallery
---------------------- */
/*#nanoGallery3 {

  opacity: 0.8;

  .labelImage {
    display: none;
  }

  .nanoGalleryThumbnailContainer {
    opacity: 0.8;

    &:hover {
      opacity: 0.8;
      background-color: rgba(0, 0, 0, 0.2);
    }
    img:hover {
      opacity: 0.8;
    }
  }
}*/
/* --------------------
AutoComplete
---------------------- */
.form-search .form-group {
  margin-bottom: 0px; }
.form-search .liste-participants-resultats {
  width: 100%;
  border-left: solid 1px #4e5d6c;
  border-right: solid 1px #4e5d6c;
  overflow: hidden;
  height: auto; }
.form-search .btn-default {
  margin-top: 15px; }

#ui-id-1.ui-autocomplete {
  background-color: #ebebeb; }
  #ui-id-1.ui-autocomplete li {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-left: 0px; }
    #ui-id-1.ui-autocomplete li::before {
      content: ""; }
    #ui-id-1.ui-autocomplete li:hover {
      background-color: #4e5d6c;
      color: #fff; }

/* --------------------
pictures
 ---------------------- */
.cadre-photo {
  text-align: center;
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-content: center; }
  .cadre-photo div, .cadre-photo a {
    display: inline-block; }
  .cadre-photo .left, .cadre-photo .right {
    padding: 8px;
    height: 100%; }
  .cadre-photo .left {
    padding-right: 12px; }
  .cadre-photo .right {
    padding-left: 12px; }
  .cadre-photo .center {
    flex: 1; }
  .cadre-photo img {
    max-width: 100%; }
  .cadre-photo a {
    color: #333; }
    .cadre-photo a:hover {
      font-weight: bold;
      color: #DF691A; }

.pictures .left-border .btn .fa {
  margin-right: 15px; }
.pictures .left-border label {
  font-weight: bold;
  font-size: 14px; }
.pictures .left-border select {
  border-radius: 5px; }
.pictures .left-border .row .btn {
  margin-top: 25px; }
.pictures .left-border .text-left .fa {
  margin-right: 10px;
  margin-left: 0px; }
.pictures .left-border .form-search {
  margin-bottom: 50px; }
.pictures .left-border .text-right .fa {
  margin-left: 10px;
  margin-right: 0px; }

.file-footer-buttons .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }
  .file-footer-buttons .btn-default .glyphicon {
    margin-left: 0px; }

.move-image {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none; }
  .move-image .cadre {
    width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -300px;
    margin-left: -300px;
    border: solid 2px #DF691A;
    background-color: #D5D1D1;
    padding: 15px 30px;
    min-height: 280px; }
    .move-image .cadre .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      margin-right: -12px;
      margin-top: -12px; }
      .move-image .cadre .close img {
        opacity: 1.0; }
    .move-image .cadre .load-deplacement-img {
      text-align: center;
      padding-top: 60px; }
    .move-image .cadre h4 {
      margin-bottom: 20px;
      font-weight: bold; }

.diaporama-thumb-info {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  height: 30px;
  margin-top: -30px;
  padding: 4px 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear; }
  .diaporama-thumb-info a {
    color: #ffffff;
    font-size: 15px; }
    .diaporama-thumb-info a:hover {
      text-decoration: none;
      font-weight: bold; }

.nanoGalleryThumbnailContainer:hover .diaporama-thumb-info {
  visibility: visible;
  opacity: 1; }

.videoorpictures {
  border: solid 1px #333;
  background-color: #EDDDBD;
  margin-top: 20px;
  margin-bottom: 30px; }
  .videoorpictures .col-md-6 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .videoorpictures .col-md-6:first-child {
    border-right: solid 1px #333; }

.patienterzip {
  display: none;
  text-align: center;
  width: 100%;
  height: 80px;
  margin-top: 15px;
  border: dashed 1px #ccc;
  padding: 15px; }
  .patienterzip .zipgeneration, .patienterzip .zipgenerated {
    display: none; }
    .patienterzip .zipgeneration a, .patienterzip .zipgenerated a {
      margin-top: 5px; }

/* --------------------
recherche
 ---------------------- */
#recherche .btn-primary {
  margin-top: 15px;
  width: auto;
  border-radius: 5px; }
  #recherche .btn-primary:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); }
#recherche .erreur_search {
  display: none;
  margin-top: 5px;
  color: #B33E29;
  font-weight: bold; }

.search-form label {
  font-weight: bold; }
.search-form .bootstrap-select {
  width: 100%; }
  .search-form .bootstrap-select li::before {
    content: ''; }
  .search-form .bootstrap-select .dropdown-toggle {
    width: 100%; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.personnes_selection {
  display: none; }

.form-search li::before {
  content: ''; }

.jg-entry {
  margin: 2px;
  position: relative;
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0; }
  .jg-entry img {
    width: 191px;
    height: 191px;
    -webkit-transition: all 0.25s ease;
    /* Safari and Chrome */
    -moz-transition: all 0.25s ease;
    /* Firefox */
    -ms-transition: all 0.25s ease;
    /* IE 9 */
    -o-transition: all 0.25s ease;
    /* Opera */
    transition: all 0.25s ease; }
  .jg-entry:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1); }
  .jg-entry .bgc {
    position: absolute;
    width: 191px;
    height: 191px;
    top: 0px;
    left: 0px; }
    .jg-entry .bgc:hover {
      background-color: rgba(0, 0, 0, 0.6);
      background-position: center;
      background-size: 40px;
      background-repeat: no-repeat; }
      .jg-entry .bgc:hover .bgd {
        opacity: 1; }
    .jg-entry .bgc .bgd {
      width: 191px;
      position: absolute;
      height: 40px;
      bottom: 0px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: #ffffff;
      padding-top: 10px;
      font-size: 15px;
      opacity: 0;
      -webkit-transition: all 0.50s ease;
      /* Safari and Chrome */
      -moz-transition: all 0.50s ease;
      /* Firefox */
      -ms-transition: all 0.50s ease;
      /* IE 9 */
      -o-transition: all 0.50s ease;
      /* Opera */
      transition: all 0.50s ease; }
    .jg-entry .bgc .desc {
      display: none; }

.search-checkbox {
  display: none; }
  .search-checkbox .checkbox label {
    display: none; }

.search_aucun_resultat {
  text-align: center;
  margin-top: 100px;
  font-size: 18px; }

.bs-select-all, .bs-deselect-all {
  border-color: #333;
  background-color: #8E979F; }

.bs-select-all:hover, .bs-deselect-all:hover {
  border-color: #333;
  background-color: #697683; }

.bs-searchbox input {
  border-color: #333;
  background-color: #8E979F; }

.bootstrap-select.btn-group .dropdown-menu li a:hover, .bootstrap-select.btn-group .dropdown-menu li.active a {
  text-decoration: none;
  color: #ebebeb;
  background-color: #485563; }

/* --------------------
Loading gif
 ---------------------- */
.waiting-loader {
  height: 350px;
  width: 100%;
  text-align: center;
  left: 0; }
  .waiting-loader .waiting-loader-children {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .waiting-loader img {
    vertical-align: middle; }

.body_lightbox_loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none; }
  .body_lightbox_loading .cube_loading {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -60px;
    margin-left: -60px; }

.uil-cube-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px; }

@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes uil-cube-css {
  0% {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.uil-cube-css > div {
  position: absolute;
  width: 80px;
  height: 80px;
  -ms-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -moz-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -webkit-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  -o-animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite;
  animation: uil-cube-css 1s cubic-bezier(0.2, 0.8, 0.2, 0.8) infinite; }

.uil-cube-css > div:nth-of-type(1) {
  top: 10px;
  left: 10px;
  background: #bf5a16;
  opacity: 0.9;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s; }

.uil-cube-css > div:nth-of-type(2) {
  top: 10px;
  left: 110px;
  background: #bf5a16;
  opacity: 0.8;
  -ms-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.uil-cube-css > div:nth-of-type(3) {
  top: 110px;
  left: 10px;
  background: #bf5a16;
  opacity: 0.7;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.uil-cube-css > div:nth-of-type(4) {
  top: 110px;
  left: 110px;
  background: #bf5a16;
  opacity: 0.6;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.body-lightbox-delete {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none; }
  .body-lightbox-delete .supprimer-img, .body-lightbox-delete .supprimer-album, .body-lightbox-delete .supprimer-album-photos {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -225px;
    width: 450px;
    height: 260px;
    background-color: #fff;
    border-radius: 7px;
    border: solid 2px #bf5a16;
    padding: 30px 40px 20px 40px;
    font-size: 16px;
    text-align: center;
    display: none; }
    .body-lightbox-delete .supprimer-img i, .body-lightbox-delete .supprimer-album i, .body-lightbox-delete .supprimer-album-photos i {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 25px;
      margin-right: 2px;
      margin-top: 2px;
      color: #bf5a16;
      cursor: pointer; }

/* --------------------
Participant
 ---------------------- */
.ajout-participant {
  padding: 10px 20px;
  border: solid 1px #575757;
  background-color: rgba(228, 227, 227, 0.4);
  margin-bottom: 30px; }

.table-participants {
  margin-top: 10px; }
  .table-participants thead tr {
    background-color: #d9edf7;
    font-weight: bold;
    height: 20px; }
  .table-participants td {
    border: solid 1px #D8D8D8 !important; }
    .table-participants td a.delete {
      color: #ac2925 !important;
      text-decoration: none;
      margin-bottom: 12px; }
      .table-participants td a.delete .glyphicon {
        margin-left: 0px; }
    .table-participants td a.fictif {
      color: #2C446D;
      text-decoration: none; }
    .table-participants td a.privilege {
      color: #7F2A68;
      text-decoration: none;
      margin-left: 10px;
      display: inline-block; }

/* --------------------
Informations
 ---------------------- */
.informations .presentation img {
  margin-bottom: 15px; }
.informations .presentation .col-md-4 {
  text-align: center; }
.informations .presentation p {
  font-size: 16px; }
.informations .presentation p.lead {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: #A2C563;
  height: 80px; }
.informations .presentation .step {
  padding: 15px;
  border: solid 1px #A2C563;
  overflow: hidden;
  height: 460px; }
.informations .presentation .image {
  height: 200px; }
.informations h1 {
  border-bottom: dashed 1px #4e5d6c;
  padding-bottom: 10px; }
  .informations h1.lead-green {
    border-bottom: solid 1px #A2C563;
    margin-bottom: 40px; }
.informations h3 {
  margin-bottom: 15px;
  color: #A2C563; }
.informations .avantages {
  margin-bottom: 40px;
  padding: 25px;
  border: solid 1px #A2C563; }
  .informations .avantages .btn-green {
    width: 250px;
    margin: auto;
    color: #333;
    font-weight: bold; }
    .informations .avantages .btn-green:hover {
      background-color: #799E35; }
.informations .lead-green {
  margin-bottom: 0px;
  border-bottom: 0px; }
.informations li:before {
  color: #A2C563; }
.informations.home_connected .img-responsive {
  margin: auto; }
.informations.home_connected .avantages {
  text-align: center; }
.informations.home_connected .avantages-blue .avantages {
  border: solid 1px #4e5d6c; }
  .informations.home_connected .avantages-blue .avantages p {
    display: block;
    min-height: 60px; }
.informations.home_connected .avantages-blue .lead-green {
  background-color: #4e5d6c;
  color: #fff;
  border: solid 1px #4e5d6c;
  display: block; }

.camera_fakehover {
  display: none; }

/* --------------------
waiting photos
 ---------------------- */
.options-waiting-photos .gerer-photos-waiting {
  width: 100%;
  background-color: rgba(191, 90, 22, 0.4);
  border: solid 1px #BF5A16;
  color: #333;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 8px; }
  .options-waiting-photos .gerer-photos-waiting .btn-primary {
    margin-top: -8px;
    height: 40px;
    float: right;
    margin-right: 10px; }
    .options-waiting-photos .gerer-photos-waiting .btn-primary span {
      margin: 0; }
  .options-waiting-photos .gerer-photos-waiting #cancel_select, .options-waiting-photos .gerer-photos-waiting #cancel_select2 {
    float: left; }
  .options-waiting-photos .gerer-photos-waiting .txt3-1 {
    float: right; }
  .options-waiting-photos .gerer-photos-waiting .txt3-2 {
    float: right;
    margin-right: 15px;
    margin-top: -7px; }
  .options-waiting-photos .gerer-photos-waiting .btn {
    margin-top: 7px; }
  .options-waiting-photos .gerer-photos-waiting .confirm-group {
    display: flex;
    align-items: center; }
    .options-waiting-photos .gerer-photos-waiting .confirm-group .spinner {
      margin-left: 10px;
      display: none; }

/* --------------------
Notifications
 ---------------------- */
.notification {
  border: solid 1px #8E979F;
  background-color: rgba(228, 227, 227, 0.4);
  margin-bottom: 30px;
  position: relative; }
  .notification .btn-default {
    background-color: #8E979F; }
  .notification .cadre {
    padding: 15px 20px; }
  .notification h4 {
    width: 100%;
    padding: 10px 20px;
    background-color: #8E979F;
    color: #fff;
    margin-top: 0; }
  .notification .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
    font-style: italic;
    padding-right: 7px;
    padding-bottom: 2px; }
  .notification.new {
    border: solid 1px #575757; }
    .notification.new .btn-default {
      background-color: #404D59; }
    .notification.new h4 {
      width: 100%;
      padding: 10px 20px;
      border-bottom: solid 1px #575757;
      background-color: #4E5D6C;
      color: #fff;
      margin-top: 0; }

#page .showonphone {
  display: none; }

ul.arianne {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  font-size: 14px;
  width: 100%; }
  ul.arianne li {
    display: inline-block;
    text-indent: 0;
    margin: 0;
    padding: 0;
    color: #DF691A; }
    ul.arianne li::before {
      content: '>';
      font-size: 15px;
      margin-left: 5px;
      margin-right: 5px; }
    ul.arianne li:last-child a, ul.arianne li:last-child span {
      font-weight: bold; }
    ul.arianne li:last-child a:hover {
      text-decoration: underline; }
    ul.arianne li:first-child::before {
      content: '';
      font-size: 15px;
      margin: 0; }

.dropdown-toggle {
  white-space: nowrap; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #efefef; }

.user-list li a {
  color: #333; }
  .user-list li a:hover {
    color: #DF691A; }
.user-list .fa-user-plus {
  margin-left: 15px; }

.create-album {
  font-size: 25px;
  margin-top: 15px;
  display: inline-block; }
  .create-album:hover {
    text-decoration: underline; }

#picture_change_data_loading {
  height: 50px;
  text-align: center;
  color: #DF691A;
  font-size: 14px;
  padding-top: 20px; }
  #picture_change_data_loading .fa {
    margin-right: 8px; }
  #picture_change_data_loading div {
    display: none; }

/*# sourceMappingURL=main.css.map */
