$orange : #DF691A;
$blue : #4e5d6c;
$green : #A2C563;
$hauteurTopMenu : 40px;

@media (max-width: 768px) {

  /*
  // Home page //
  */

  h1{
    font-size: 25px;
  }

  .jumbotron-light{
    height: 150px;
  }

  .jumbotron{

    height: 250px;
    position: relative;

    h1{
      text-align: center;
      margin-top: 10px;
    }
    .col-md-5 img{
      display: none;
    }
    ul{
      margin-top: -10px;

    }

    .presentation_phone{
      background-color: rgba(0,0,0,0.4);
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 0;

      h1{
        font-size: 27px;
      }

      .lead{
        font-size: 17px;
      }
    }
  }

  .home_desc{
    margin-bottom: 20px;
    ul li{
      font-size: 18px;
    }
  }

  .informations .presentation .image{
    height: auto;
  }

  .informations .presentation .step{
    height: auto;
  }

  .lead-green{
    font-size: 25px;
  }

  .home-welcome{
    margin-bottom: 5px;
    color: #333;
  }


  .sidebar{
    margin-top: 10px;
  }


  /*
  // Register //
  */

  #main.register .jumbotron{
    display: none;
  }

  /*
  // Login //
  */

  #main.login .jumbotron{
    display: none;
  }


  /*
  // Album index //
  */

  #main.albumindex{
    .sidebar {
      display: none;
    }
    a.thumbnail {
      width: 100%;
    }
  }


  /*
  // Album show //
  */

  #main.albumshow{
    h1{
      font-size: 25px;
    }
    .alert-warning .btn-primary{
      margin-top: 30px;
    }
    h2.bordered{
      margin-bottom: 70px;

      .btn-primary{
        width: 161px;
        margin-top: 30px;
        font-size: 13px;

      }
    }

    .col-md-4{
      h2.bordered{
        margin-bottom: 15px;
      }
    }

    .grid-item img{
      width: 100px;
    }
  }


  /*
  // Album edit //
  */

  #main.albumedit{
    .col-md-4{
      display: none;
    }
  }



  /*
  // Album participants index //
  */

  #main.album-participant-index{
    .col-md-4{
      display: none;
    }
  }


  /*
  // Album viewers index //
  */

  #main.album-viewers-index{
    .col-md-4{
      display: none;
    }
  }


  /*
  // Pictures index //
  */

  #main.pictures-index{
    
    h1{
      font-size: 25px;
      text-align: center;

    }

    .cadre-photo{
      position: relative;
      border: none;
      box-shadow:none;
      background-color: transparent;
    }
    .cadre-photo-inside{
      float: none;
      img{
        max-width: 100%;
      }
    }

    .col-md-8{
      height: auto !important;
      margin-bottom: 20px;
    }

    .cadre-photo .cadre-photo-inside .arrow-previous{
      display: none;
    }
    .cadre-photo .cadre-photo-inside .arrow-next{
      display: none;
    }

    .pivoter{
      display: none !important;
    }
    .pivoter.mobile, .nextOrPrevious{

      margin-top: 21px;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
      display: block !important;

      .btn-primary{
        background-color: #F6AF22;
        color: #333;

        img{
          margin-top: -7px;
        }

        &:first-child{
          float: left;
        }
        &:last-child{
          float: right;
        }

        &:hover{
          background-color: #A26C00;
          -webkit-transition: background-color 200ms linear;
          -moz-transition: background-color 200ms linear;
          -o-transition: background-color 200ms linear;
          -ms-transition: background-color 200ms linear;
          transition: background-color 200ms linear;
        }
      }
    }

    .photoSuivanteOuPrecedante{
      display: none;
    }

    button[type="submit"]{
      margin-top: 0px;
      margin-bottom: 10px;
    }


  }


  /*
 // Imformations //
 */

  #main.imformations{
    .starter-template img{
      display: block;
    }
  }



  .hideonphone{
    display: none;
  }

  #page .showonphone{
    display: block;
  }
  #page li.showonphone{
    display: inline-block;
  }


  .notification .time{
    font-size: 9px;
  }

  .options-waiting-photos .gerer-photos-waiting, .options-waiting-photos{
    height: auto;
    padding-bottom: 15px;
  }

  .options-waiting-photos .gerer-photos-waiting .btn-primary{
    float: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    padding: 3px 10px;
  }

  .options-waiting-photos .gerer-photos-waiting #cancel_select, .options-waiting-photos .gerer-photos-waiting #cancel_select2{
    float: none;
  }

  .options-waiting-photos .gerer-photos-waiting .txt3-1{
    float: none;
    margin-top: 10px;
  }

  .options-waiting-photos .gerer-photos-waiting .txt3-2{
    float: none;
    margin-top: 5px;
  }

  .notification .btn-default{
    margin-bottom: 7px;
  }

  .search_aucun_resultat{
    margin-top: 30px;
  }

  .jg-entry{
    width: 109px;
    height: 109px;
  }

  .footer{
    padding-top: 5px;
  }

  .albums-item-thumbs{
    min-height: 0px;
    background-color:#fff;
  }


  .move-image .cadre{
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    position: relative;
    margin-top: 40px;
    margin-left: 0px;
    border: solid 2px #DF691A;
    background-color: #D5D1D1;
    padding: 15px 30px;
    min-height: 280px;
  }

  .avantages-blue{
    margin-bottom: 20px;
    .avantages{
      display: none;
    }
  }

  .gestion{

    .actions{

      a{
        background: none;
        color: $blue;
        font-size: 25px;
        padding: 0;
      }
      span{
        display: none;
      }
    }
  }

  .fa-question-circle{
    display: none;
  }

}